<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.nickname}"></title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/markdown.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/ie10-viewport-bug-workaround.css}" rel="stylesheet" type="text/css" />

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/js/ie-emulation-modes-warning.js}"></script>
    <script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="col-sm-8 blog-main">
        <div class="blog-post">
            <div th:each="article:${articlePage.content}">
                <div class="blog-post">
                    <h2 class="blog-post-title" th:text="${article.title}" th:onclick="'javascript:articleInfo(' + ${article.id} + ')'"></h2>
                    <span class="blog-post-meta" th:text="${#dates.format(article.insertTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                </div>
            </div>

        </div>
    </div>
</div>
<script th:inline="javascript">
    function articleInfo(id) {
        var username = [[${user.username}]];
        var url = "/" + username + "/article/" + id
        window.location.href = url;
    }
</script>
</body>
</html>
